body {
  margin: 30px auto;
  max-width: 1000px;
  font-family: "Helvetica", "Arial", sans-serif;
  line-height: 1.5;
  padding: 30px 20px;
  background-image: linear-gradient(to bottom, #33ccff 0%, #ff99cc 100%);
}

h1 {
  color: #000000;
  padding: 20px 0px 10px 0px;
  text-align: center;
}

a {
  color: #F6CDC6;
  text-decoration: none;
}
